@model List<Swiftshop.Models.Product>
@{
    var Categories = ViewBag.Categories as List<Category>;
}

<div class="d-flex align-items-start">
    @*Sidebar Section*@
    <div class="manage-product-sidebar">
        @{
            foreach (var category in Categories)
            {
                if (category.Subcategories != null)
                {
                    <p class="d-flex align-items-start flex-column">
                        <a data-bs-toggle="collapse" href="#@category.Name" role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white; text-decoration:none">@category.Name</a>
                    </p>
                    foreach (var subcategory in category.Subcategories)
                    {
                        <div class="collapse" id="@category.Name" style="color:white"><a asp-action="ManageProducts" asp-route-SubcategoryId="@subcategory.Id">@subcategory.Name</a></div>
                    }
                }
            }
        }
    </div>
    <div>
        @*Create Product Section*@
        <div style="margin-left:10%; color:white">
            <h1>Create New Product</h1>
            <h5>Products</h5>

            <form asp-controller="Product" asp-action="CreateProduct">
                <input required type="text" name="ProductName" placeholder="New Product Name" />
                <input required type="text" name="SubcategoryName" placeholder="Product Subcategory" />
                <input required type="text" name="ProductImage" placeholder="Product Image URL" />
                <input type="submit" class="btn btn-md btn-light" value="Create" />
            </form>
        </div>
        @*Products Table*@
        <div>
            <table class="table align-middle table-striped-columns" style="color:white;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th>Product Subcategory</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @{
                        foreach (var product in Model)
                        {
                            <tr>
                                <td><img src="@Html.Raw(product.ProductImage)" /></td>
                                <td>@Html.DisplayFor(itemModel => product.Name)</td>
                                <td>@Html.DisplayFor(itemModel => product.Subcategory.Name)</td>
                                <td>
                                    <div>
                                        <form asp-controller="Product" asp-action="UpdateProductName" asp-route-ProductId="@product.Id">
                                            <input required type="text" name="NewName" placeholder="New Product Name" />
                                            <input type="submit" class="btn btn-md btn-light" value="Update" />
                                        </form>
                                        <form asp-controller="Product" asp-action="UpdateProductSubcategory" asp-route-ProductId="@product.Id">
                                            <input required type="text" name="NewSubcategoryName" placeholder="New Subcategory Name" />
                                            <input type="submit" class="btn btn-md btn-light" value="Update" />
                                        </form>
                                        <form asp-controller="Product" asp-action="UpdateProductImage" asp-route-ProductId="@product.Id">
                                            <input required type="text" name="NewImage" placeholder="New Product Image URL" />
                                            <input type="submit" class="btn btn-md btn-light" value="Update" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
