@model Swiftshop.Models.Product

@{
    string SubcategoryId = ViewBag.SubcategoryId;
    string Prefix = ViewBag.Prefix;

    var Categories = ViewBag.Categories as List<Category>;
    var Subcategories = ViewBag.Subcategories as List<Subcategory>;
    var Products = ViewBag.Products as List<Product>;

    var CreateErrorName = TempData["CreateErrorName"] as string;
    var CreateErrorImage = TempData["CreateErrorImage"] as string;
    var UpdateErrorName = TempData["UpdateErrorName"] as Dictionary<string, string>;
    var UpdateErrorImage = TempData["UpdateErrorImage"] as Dictionary<string, string>;

    <div class="container-fluid">
        <div class="d-flex flex-column me-5">
            @*Create Product Section*@
            <div class="d-inline-flex justify-content-start ms-5 mb-3" style="color:white;">
                <div class="d-flex flex-column w-25" style="margin-left:13%">
                    <h1>New Product.</h1>
                    <h5>Provide a name and image URL. Select an existing subcategory to create a product.</h5>
                </div>
                <div class="flex-grow-1">
                    <form id="ProductForm" asp-controller="Product" asp-action="CreateProduct">
                        <div class="d-flex flex-column">
                            <div class="d-inline-flex">
                                <div class="input-group">
                                    <span class="input-group-text">Product Name</span>
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <input asp-for="Name" class="form-control" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">Product Subcategory</span>
                                    <select required class="form-select" id="SubcategoryName" name="SubcategoryName">
                                        <option selected value="@Subcategories.First().Name">@Subcategories.First().Category.Name -> @Subcategories.First().Name</option>
                                        @{
                                            var Temp = Subcategories.First();
                                            Subcategories.Remove(Temp);
                                            foreach (Subcategory subcategory in Subcategories)
                                            {
                                                <option value="@subcategory.Name">@subcategory.Category.Name -> @subcategory.Name</option>
                                            }
                                            Subcategories.Add(Temp);
                                        }
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="Name" class="text-danger">@CreateErrorName</span>
                            <div class="input-group mt-1">
                                <span class="input-group-text">Product Image URL</span>
                                <input asp-for="ProductImage" class="form-control" />
                            </div>
                            <span asp-validation-for="ProductImage" class="text-danger">@CreateErrorImage</span>
                            <div class="input-group mt-2 mb-5"><button id="ProductSubmit" type="submit" class="btn btn-md btn-light">Create</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-inline-flex">
                @*Sidebar Section*@
                <div class="me-5" style="background-color:#212121; width:10%">
                    <form asp-controller="Admin" asp-action="ManageProducts" asp-route-SubcategoryId="@SubcategoryId">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="Prefix" value="@Prefix">
                            <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i> Search</button>
                        </div>
                    </form>
                    @{
                        if (SubcategoryId != "0" || Prefix != "")
                        {
                            <div class="mb-3"><a class="btn btn-sm btn-outline-light" asp-controller="Admin" asp-action="ManageProducts" asp-route-SubcategoryId="0">Clear</a></div>
                        }
                        foreach (var category in Categories)
                        {
                            if (category.Subcategories != null)
                            {
                                <p class="d-flex align-items-start flex-column">
                                    <a data-bs-toggle="collapse" href="#@category.Name" role="button" aria-expanded="false" aria-controls="collapseExample" style="color:white; text-decoration:none">@category.Name</a>
                                </p>
                                foreach (var subcategory in category.Subcategories)
                                {
                                    <div class="collapse mb-3" id="@category.Name" style="color:white">
                                        <form asp-controller="Admin" asp-action="ManageProducts" asp-route-SubcategoryId="@subcategory.Id">
                                            <input type="hidden" name="Prefix" value="@Prefix" />
                                            <button class="btn btn-sm btn-outline-light" type="submit">@subcategory.Name</button>
                                        </form>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                <div class="flex-grow-1">
                    @{
                        if (Products.Count == 0)
                        {
                            <h1 class="ms-5" style="color:white">No Products.</h1>
                        }
                        else
                        {
                            @*Products Table*@
                            <div class="mb-5 ms-5" style="height:60vh; overflow-y:scroll">
                                <table class="table align-middle table-striped-columns" style="color:white;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Product Name</th>
                                            <th>Product Subcategory</th>
                                            <th>Update Product</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        @{
                                            foreach (var product in Products)
                                            {
                                                <tr>
                                                    <td><img src="@Html.Raw(product.ProductImage)" /></td>
                                                    <td>@Html.DisplayFor(itemModel => product.Name)</td>
                                                    <td>@Html.DisplayFor(itemModel => product.Subcategory.Name)</td>
                                                    <td>
                                                        <div class="d-flex flex-column justify-content-lg-start">
                                                            @* Update Product Name Form *@
                                                            <form class="mb-3 mt-2" asp-controller="Product" asp-action="UpdateProductName" asp-route-ProductId="@product.Id">
                                                                <div class="input-group">
                                                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                                    <input asp-for="Name" class="form-control" placeholder="Update Product Name">
                                                                    <button type="submit" class="btn btn-light">Update</button>
                                                                </div>
                                                                @{
                                                                    if (UpdateErrorName != null && UpdateErrorName.ContainsKey(product.Id))
                                                                    {
                                                                        <span asp-validation-for="Name" class="text-danger">@UpdateErrorName[product.Id]</span>
                                                                    }
                                                                }
                                                            </form>
                                                            @* Update Product Image URL Form *@
                                                            <form class="mb-3" asp-controller="Product" asp-action="UpdateProductImage" asp-route-ProductId="@product.Id">
                                                                <div class="input-group">
                                                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                                    <input asp-for="ProductImage" class="form-control" placeholder="Update Product Image URL">
                                                                    <button type="submit" class="btn btn-light">Update</button>
                                                                </div>
                                                                @{
                                                                    if (UpdateErrorImage != null && UpdateErrorImage.ContainsKey(product.Id))
                                                                    {
                                                                        <span asp-validation-for="ProductImage" class="text-danger">@UpdateErrorImage[product.Id]</span>
                                                                    }
                                                                }
                                                            </form>
                                                            @* Update Product Subcategory Form *@
                                                            <form asp-controller="Product" asp-action="UpdateProductSubcategory" asp-route-ProductId="@product.Id">
                                                                <div class="input-group mb-2">
                                                                    <select required class="form-select" id="NewSubcategoryName" name="NewSubcategoryName">
                                                                        <option selected value="@product.Subcategory.Name">@product.Subcategory.Name</option>
                                                                        @{
                                                                            foreach (Subcategory subcategory in Subcategories)
                                                                            {
                                                                                if (product.Subcategory.Name != subcategory.Name)
                                                                                {
                                                                                    <option value="@subcategory.Name">@subcategory.Category.Name -> @subcategory.Name</option>
                                                                                }
                                                                            }
                                                                        }
                                                                    </select>
                                                                    <input type="submit" class="btn btn-md btn-light" value="Update" />
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </td>
                                                    <td><a class="btn btn-lg btn-light" asp-controller="Product" asp-action="DeleteProduct" asp-route-ProductId="@product.Id"><i class="bi bi-trash3-fill"></i></a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
