@model Swiftshop.Models.Category;

@{
    List<Category> Categories = ViewBag.Categories as List<Category>;
    var CreateError = TempData["CreateError"] as string;
    var UpdateError = TempData["UpdateError"] as Dictionary<string, string>;
    var Prefix = ViewBag.Prefix as string;
}

<div class="container">
    <div style="margin-top:5%; margin-bottom:2%; color:white;">
        <h1>Create new category</h1>
        <h5>Categories contain subcategories to enhance product searching.</h5>

        <form asp-controller="Category" asp-action="CreateCategory" style="margin-top:2%; width:40%">
            <div class="input-group mb-3">
                <div class="d-flex flex-column flex-grow-1">
                    <div class="input-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input asp-for="Name" class="form-control" placeholder="New Category" aria-label="New Category" aria-describedby="basic-addon2">
                        <button type="submit" class="btn btn-light">Create</button>
                    </div>
                    <span asp-validation-for="Name" class="text-danger mt-2">@CreateError</span>
                </div>
            </div>
        </form>
    </div>
    @{
        if (Categories.Count != 0)
        {
            <div style="height:55vh; overflow-y:scroll">
                <table class="table align-middle table-striped-columns" style="color:white; margin-bottom:10%">
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Id</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">
                                <form asp-controller="Admin" asp-action="ManageCategories" asp-route-Prefix="@Prefix">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="Prefix" value="@Prefix">
                                        <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i> Search</button>
                                        @{
                                            if(Prefix != "")
                                            {
                                                <a class="btn btn-outline-light" asp-action="ManageCategories" asp-route-Prefix="">Clear</a>
                                            }
                                        }
                                    </div>
                                </form>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @{
                            foreach (var category in Categories)
                            {
                                <tr>
                                    <td scope="row">@Categories.IndexOf(category)</td>
                                    <td>@Html.DisplayFor(modelItem => category.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => category.Name)</td>
                                    <td>
                                        <form class="mt-4 mb-4" asp-controller="Category" asp-action="UpdateCategoryName" asp-route-CategoryId="@category.Id">
                                            <div class="d-flex flex-column">
                                                <div class="input-group">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                    <input asp-for="Name" class="form-control" placeholder="Update Category Name">
                                                        <button type="submit" class="btn btn-light">Update</button>
                                                </div>
                                                <div>
                                                    @{
                                                        if (UpdateError != null && UpdateError.ContainsKey(category.Id))
                                                        {
                                                            <span asp-validation-for="Name" class="text-danger">@UpdateError[category.Id]</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td><a class="btn btn-md btn-light" asp-controller="Category" asp-action="DeleteCategory" asp-route-CategoryId="@category.Id" style="margin-left:15%;">Delete <i class="bi bi-trash"></i></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h1 style="color:white">No Categories.</h1>
        }
    }
</div>
