@model Swiftshop.Models.Subcategory

@{
    var Subcategories = ViewBag.Subcategories as List<Subcategory>;
    var Categories = ViewBag.Categories as List<Category>;

    var CreateError = TempData["CreateError"] as string;
    var UpdateError = TempData["UpdateError"] as Dictionary<string, string>;

    string Prefix = ViewBag.Prefix;
    string CategoryId = ViewBag.CategoryId;
}

<div class="container-fluid">
    <div class="d-flex flex-column">
        <div style="color:white; width:40%">
            <h1>Create new Subcategory</h1>
            <h5>Subcategories</h5>
            @*Create Subcategory Section*@
            <form asp-controller="Subcategory" asp-action="CreateSubcategory" style="margin-top:2%">
                <div class="d-flex flex-column">
                    <div class="input-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="input-group">
                                <span class="input-group-text">Subcategory Name</span>
                                <input class="form-control" asp-for="Name" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger mt-1 mb-3">@CreateError</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Parent Category</span>
                        <select required class="form-select" id="CategoryName" name="CategoryName">
                            <option selected value="@Categories.First().Name">@Categories.First().Name</option>
                            @{
                                var TempCategories = Categories;
                                foreach (var category in Categories)
                                {
                                    <option value="@category.Name">@category.Name</option>
                                }
                                Categories = TempCategories;
                            }
                        </select>
                        <div class="input-group mt-3"><input type="submit" class="btn btn-md btn-light" value="Create" /></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-inline-flex mt-5">
            @*Sidebar Section*@
            <div class="me-5" style="background-color:#212121; width:10%">
                <form asp-controller="Admin" asp-action="ManageSubcategories" asp-route-CategoryId="@CategoryId">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Prefix" value="@Prefix">
                        <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i> Search</button>
                    </div>
                </form>
                @{
                    if (CategoryId != "0" || Prefix != "")
                    {
                        <div class="mb-3"><a class="btn btn-sm btn-outline-light" asp-controller="Admin" asp-action="ManageSubcategories" asp-route-CategoryId="0">Clear</a></div>
                    }
                    foreach (var category in Categories)
                    {
                        <a asp-controller="Admin" asp-action="ManageSubcategories" asp-route-CategoryId="@category.Id" style="text-decoration:none; color:white">@category.Name</a>
                    }
                }
            </div>
            <div class="flex-grow-1">
                @{
                    //Update Subcategory Section
                    if (Subcategories.Count != 0)
                    {
                        <div style="height:46vh; overflow-y:scroll">
                            <table class="table align-middle table-striped-columns" style="color:white; margin-bottom:10%;">
                                <thead>
                                    <tr>
                                        <th scope="col">Index</th>
                                        <th scope="col">Subcategory Name</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Update Subcategory</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    @{
                                        foreach (var subcategory in Subcategories)
                                        {
                                            <tr>
                                                <td scope="row">@Subcategories.IndexOf(subcategory)</td>
                                                <td>@Html.DisplayFor(modelItem => subcategory.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => subcategory.Category.Name)</td>
                                                <td>
                                                    <div class="d-flex flex-column justify-content-lg-start" style="margin-top:2%">
                                                        @* Update Subcategory Name Form *@
                                                        <form asp-controller="Subcategory" asp-action="UpdateSubcategoryName" asp-route-SubcategoryId="@subcategory.Id">
                                                            <div class="d-flex flex-column">
                                                                <div class="d-inline-flex">
                                                                    <div class="input-group mb-1">
                                                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                                        <input asp-for="Name" class="form-control" placeholder="Update Subcategory Name">
                                                                        <button type="submit" class="btn btn-light">Update</button>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-4">
                                                                    @{
                                                                        if (UpdateError != null && UpdateError.ContainsKey(subcategory.Id))
                                                                        {
                                                                            <span asp-validation-for="Name" class="text-danger">@UpdateError[subcategory.Id]</span>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </form>
                                                        @* Update Subcategory Parent Category Form *@
                                                        <form asp-controller="Subcategory" asp-action="UpdateSubcategoryCategory" asp-route-SubcategoryId="@subcategory.Id">
                                                            <div class="input-group mb-3">
                                                                <select class="form-select" id="NewCategoryName" name="NewCategoryName">
                                                                    <option selected value="@subcategory.Category.Name">@subcategory.Category.Name</option>
                                                                    @{
                                                                        foreach (var category in Categories)
                                                                        {
                                                                            if (subcategory.Category.Name != category.Name)
                                                                            {
                                                                                <option value="@category.Name">@category.Name</option>
                                                                            }
                                                                        }
                                                                    }
                                                                </select>
                                                                <input type="submit" class="btn btn-md btn-light" value="Update" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </td>
                                                @* Delete Subcategory *@
                                                <td><a class="btn btn-md btn-light" asp-controller="Subcategory" asp-action="DeleteSubcategory" asp-route-SubcategoryId="@subcategory.Id" style="margin-left:15%;">Delete <i class="bi bi-trash"></i></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <h1 style="color:white">No Categories.</h1>
                    }
                }
            </div>
        </div>
    </div>
</div>
