@model List<Swiftshop.Models.Subcategory>;

<div style="margin-top:5%; margin-bottom:2%; color:white;">
    <h1>Create new Subcategory</h1>
    <h5>Subcategories</h5>

    <form asp-controller="Subcategory" asp-action="CreateSubcategory" style="margin-top:2%">
        <input required type="text" name="SubcategoryName" placeholder="Subcategory Name" />
        <input required type="text" name="CategoryName" placeholder="Category Name" />
        <input type="submit" class="btn btn-md btn-light" value="Create" />
    </form>
</div>
@{
    if (Model.Count != 0)
    {
        var CategoryPairs = ViewBag.CategoryPairs as Dictionary<string, string>;
        <table class="table align-middle table-striped-columns" style="color:white; margin-bottom:10%;">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Id</th>
                    <th scope="col">Subcategory Name</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Actions</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @{
                    foreach (var subcategory in Model)
                    {
                        <tr>
                            <th scope="row">@Model.IndexOf(subcategory)</th>
                            <td>@Html.DisplayFor(modelItem => subcategory.Id)</td>
                            <td>@Html.DisplayFor(modelItem => subcategory.Name)</td>
                            <td>@CategoryPairs[subcategory.CategoryId]</td>
                            <td>
                                <div class="d-flex justify-content-start">
                                    <form asp-controller="Subcategory" asp-action="UpdateSubcategoryName" asp-route-SubcategoryId="@subcategory.Id">
                                        <div asp-asp-validation-summary="ModelOnly">
                                            <input required type="text" name="NewName" placeholder="New Subcategory Name"/>
                                            <input type="submit" class="btn btn-md btn-light" value="Save" />
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <div class="d-flex justify-content-start">
                                    <form asp-controller="Subcategory" asp-action="UpdateSubcategoryCategory" asp-route-SubcategoryId="@subcategory.Id">
                                        <div asp-asp-validation-summary="ModelOnly">
                                            <input required type="text" name="NewCategoryName" placeholder="New Category Name"/>
                                            <input type="submit" class="btn btn-md btn-light" value="Save" />
                                        </div>
                                    </form>
                                </div>
                            </td>
                            <td><a class="btn btn-md btn-light" asp-controller="Subcategory" asp-action="DeleteSubCategory" asp-route-SubcategoryId="@subcategory.Id" style="margin-left:.5%;"><i class="bi bi-trash"></i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No Categories.</h1>
    }
}
