@model List<Swiftshop.Models.Subcategory>;

<div class="container">
    <div style="margin-top:5%; margin-bottom:2%; color:white; width:40%">
        <h1>Create new Subcategory</h1>
        <h5>Subcategories</h5>

        @{
            List<string> CategoryNames = ViewBag.CategoryNames as List<string>;
        }

        @*Create Subcategory Section*@
        <form asp-controller="Subcategory" asp-action="CreateSubcategory" style="margin-top:2%">
            <div class="d-flex flex-column">
                <div class="input-group">
                    <span class="input-group-text">Subcategory Name</span>
                    <input class="form-control" required type="text" name="SubcategoryName" />
                </div>
                <div class="input-group">
                    <span class="input-group-text">Parent Category</span>
                    <select required class="form-select" id="CategoryName" name="CategoryName">
                        <option selected>Choose...</option>
                        @{
                            foreach (string categoryName in CategoryNames)
                            {
                                <option value="@categoryName">@categoryName</option>
                            }
                        }
                    </select>
                    <div class="input-group"><input type="submit" class="btn btn-md btn-light" value="Create" /></div>
                </div>
            </div>
        </form>
    </div>

    @{
        //Update Subcategory Section
        if (Model.Count != 0)
        {
            <div style="height:46vh; overflow-y:scroll">
                <table class="table align-middle table-striped-columns" style="color:white; margin-bottom:10%;">
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Id</th>
                            <th scope="col">Subcategory Name</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Update Subcategory</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @{
                            foreach (var subcategory in Model)
                            {
                                <tr>
                                    <td scope="row">@Model.IndexOf(subcategory)</td>
                                    <td>@Html.DisplayFor(modelItem => subcategory.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => subcategory.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => subcategory.Category.Name)</td>
                                    <td>
                                        <div class="d-flex flex-column justify-content-lg-start" style="margin-top:2%">
                                            @* Update Subcategory Name Form *@
                                            <form asp-controller="Subcategory" asp-action="UpdateSubcategoryName" asp-route-SubcategoryId="@subcategory.Id">
                                                <div class="input-group mb-3">
                                                    <input required type="text" name="NewName" class="form-control" placeholder="Update Subcategory Name">
                                                    <div class="d-flex justify-content-start input-group-append">
                                                        <button type="submit" class="btn btn-light">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                            @* Update Subcategory Parent Category Form *@
                                            <form asp-controller="Subcategory" asp-action="UpdateSubcategoryCategory" asp-route-SubcategoryId="@subcategory.Id">
                                                <div class="input-group mb-3">
                                                    <select required class="form-select" id="NewCategoryName" name="NewCategoryName">
                                                        <option selected>Choose...</option>
                                                        @{
                                                            foreach (string categoryName in CategoryNames)
                                                            {
                                                                if (subcategory.Category.Name != categoryName)
                                                                {
                                                                    <option value="@categoryName">@categoryName</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <input type="submit" class="btn btn-md btn-light" value="Update" />
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    @* Delete Subcategory *@
                                    <td><a class="btn btn-md btn-light" asp-controller="Subcategory" asp-action="DeleteSubcategory" asp-route-SubcategoryId="@subcategory.Id" style="margin-left:15%;">Delete <i class="bi bi-trash"></i></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                </div>
        }
        else
        {
            <h1 style="color:white">No Categories.</h1>
        }
    }
</div>
