@model List<Swiftshop.Models.ShoppingList>
@{
    ViewData["Title"] = "Home Page";
}

@{
    if (Model.Count != 0)
    {
        <div class="container-fluid" style="width:80%;">
            <div class="d-flex flex-column">
                <div class="d-inline-flex mt-3 mb-5" style="margin-left:2.5%">
                    <div><h2 style="color:white;">Active Shopping Lists</h2></div>
                    @*Create List Modal Button*@
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#CreateListModal" style="margin-left:1%">New</button>
                    <div>
                        @*Create List Modal*@
                        <div class="modal fade" id="CreateListModal" tabindex="-1" aria-labelledby="CreateListModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" style="background-color:#212121; color:white">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="CreateListModalLabel">Name Your Shopping List.</h1>
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="ShoppingList" asp-action="CreateShoppingList" style="margin-top:2%; width:100%">
                                            <div class="input-group mb-3">
                                                <input required type="text" name="NewName" class="form-control" placeholder="New Shopping List" aria-label="New Shopping List" aria-describedby="basic-addon2">
                                            </div>
                                            <button type="submit" class="btn btn-light">Create</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Landing Page Shopping List Card*@
                <div>
                    <div class="d-flex justify-content-start">
                        @foreach (var item in Model)
                        {
                            if (item.IsActive == true)
                            {
                                <div class="card" style="width:30%; margin-left:2.5%; background-color:burlywood">
                                    <img src="/shopping_cart.png" class="card-img-top" style="padding:10%" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <a asp-controller="ShoppingListContent" asp-action="Index" asp-route-ListId="@item.Id" asp-route-SubcategoryId="0" class="btn btn-light btn-lg"><i class="bi bi-bag-check"></i></a>
                                        <a asp-action="SwitchIsActive" asp-route-ListId="@item.Id" asp-route-OldStatus="@item.IsActive" class="btn btn-light btn-lg"><i class="bi bi-cart-dash-fill"></i></a>
                                        @{
                                            if (item.IsFavorited == false)
                                            {
                                                <a class="btn btn-light btn-lg" asp-controller="LandingPage" asp-action="SwitchIsFavorite" asp-route-ListId="@item.Id" asp-route-OldStatus="@item.IsFavorited">
                                                    <i class="bi bi-heart"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-light btn-lg" asp-controller="LandingPage" asp-action="SwitchIsFavorite" asp-route-ListId="@item.Id" asp-route-OldStatus="@item.IsFavorited">
                                                    <i class="bi bi-heart-fill"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @*Shopping List Paginator*@
                <div>
                    <nav class="home-page-paginator">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @{
                                for (int i = 1; i <= ViewBag.PaginatorSize; i++)
                                {
                                    <li class="page-item"><a class="page-link" href=@Html.Raw("/?Page="+i)>@i</a></li>
                                }
                            }
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>   
            </div>
        </div>
    }
    //Empty Shopping List Section
    else
    {

    }
}

