@model List<Swiftshop.Models.DTO.CompletedListContentDto>;
<div class="container">
    <div class="d-flex flex-column">
        <div class="d-inline-flex">
            <div class="mb-4"><h1 style="color:white">List Summary.</h1></div>
            <div>
                <a class="btn btn-lg btn-light" asp-action="CompleteShopping" asp-route-ListId="@Model.First().ListId"><i class="bi bi-cart-fill"></i></a>
            </div>
        </div>
        <div>
            @{
                if (Model.Count != 0)
                {
                    <div style="height:65vh; overflow-y:scroll">
                        <table class="table align-middle" style="color:white;">
                            <thead>
                                <tr>
                                    <th scope="col">Product Image</th>
                                    <th scope="col">Product Name</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @{
                                    foreach (var content in Model)
                                    {
                                        <tr>
                                            <td><img src="/product_placeholder.png" style="width:15%" /></td>
                                            <td>@content.ProductName</td>
                                            <td>
                                                <a class="btn btn-light" data-bs-toggle="collapse" href="@Html.Raw("#collapse"+content.ProductId)" role="button" aria-expanded="false" aria-controls="@Html.Raw("collapse"+content.ProductId)">
                                                    Notes
                                                </a>
                                                <div class="collapse" id="@Html.Raw("collapse"+content.ProductId)">
                                                    <textarea class="form-control" disabled>@content.Description</textarea>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-flex">
                                                    @{
                                                        if (content.IsAcquired == false)
                                                        {
                                                            <div><a class="btn btn-lg btn-light" asp-action="SwitchIsAcquired" asp-route-ListId="@content.ListId" asp-route-ProductId="@content.ProductId"><i class="bi bi-cart-plus-fill"></i></a></div>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-lg btn-success" disabled><i class="bi bi-cart-check-fill"></i></a>
                                                        }
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</div>
